<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertItems</servlet-name>
        <servlet-class>InsertItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayItems</servlet-name>
        <servlet-class>DisplayItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesDemo</servlet-name>
        <servlet-class>CookiesDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertItems</servlet-name>
        <url-pattern>/InsertItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayItems</servlet-name>
        <url-pattern>/DisplayItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesDemo</servlet-name>
        <url-pattern>/CookiesDemo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
